@model tf2024_asp_razor.Models.Plane.PlaneTypeCreate;

<form asp-action="Create" method="post">
  
    <div class="form-control">
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name" />
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Name)
        </span>
    </div>
    <div class="form-control">
        <label asp-for="Constructor">Constructor</label>
        <input type="text" asp-for="Constructor" />
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Constructor)
        </span>

    </div>
      <div class="form-control">
        <label asp-for="Power">Power</label>
        <input type="number" asp-for="Power" />
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Power)
        </span>

    </div>
    <div class="form-control">
        <label asp-for="NbPlace">Capacity</label>
        <input type="number" asp-for="NbPlace" />
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.NbPlace)
        </span>

    </div>
    <button type="submit">Ajouter</button>
</form>