@using System.Collections.Specialized
@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; height: 100%; width: 100%; justify-content: center; align-items: center; font-family: monospace; font-size: 20px; flex-direction: column;" >
    <div>
        <strong>
            <i>
                <span style="font-family:'Courier New', Courier, monospace monospace; ">Tchoucoudu</span>
            </i>
        </strong>
        <i>
            <span style="font-family:'Courier New', Courier, monospace monospace; font-size:small; " class="display-4"> Airline</span>
        </i>
    </div>
    <div style="display: flex; padding: 10px; flex: 1;">

    </div>
</div>
